<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.stjerndal.androidgames.gnagetjump"
    android:versionCode="5"
    android:versionName="0.05"
    android:installLocation="preferExternal" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" />

     <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Gnaget Jump"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GnagetJump"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Gnaget Jump"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    
</manifest>
